/* Body Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.main-content{
    background-color: #ffffffee;
    padding: 1rem;
}
nav{
    background: linear-gradient(to right, rgb(211, 83, 83), rgb(255, 153, 0));
    padding: px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100px;
    position: relative;
}

.logo {
    display: block;
    max-width: 130px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li {
    margin-left: 60px;
}
.menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: "Mitr", sans-serif;
}
.menu li:hover{
    background: linear-gradient(to right, rgb(246, 191, 171), rgb(255, 153, 0));
    border-radius: 50px;
    
}
/* Hamburher Menu */
.hammenu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.5 rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu-active{
    display: block !important;
  }
  @media only screen and (min-width: 603px){
    .hammenu{
        display: none;
    }
}

@media only screen and (max-width: 603px){
    .menu {
        display: none;
    }
    .nav-wrapper{
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        width: 100%;
    }

    .menu li {
        margin: 1rem 0;
        padding: 1rem 0.5rem;
    }
    .menu li:hover{
        background: linear-gradient(to right, rgb(246, 191, 171), rgb(255, 153, 0));
    }
}
/* ปรับฟอนต์เฉพาะส่วน Carousel */
.carousel-caption h5 {
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 1.5rem; /* กำหนดขนาดฟอนต์ */
}

.carousel-caption p {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* ขนาดฟอนต์ย่อมกว่า */
    line-height: 1.5;
}
@media only screen and (max-width: 603px){
    .carousel-inner img {
        width: 100%;
        height: 260px; 
        object-fit: cover; 
        object-position: center;
    }
}